<mat-form-field>
    <input matInput (keyup)="updateFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="enroledTable" matSort class="mat-elevation-z8" matSortActive="status" matSortDirection="asc" matSortDisableClear>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="loc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let row">{{row.loc}}</td>
    </ng-container>

    <ng-container matColumnDef="when">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">{{row.when}}</td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let row">{{row.time}}</td>
    </ng-container>`

    <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
        <td mat-cell *matCellDef="let row">{{row.teacher}}</td>
    </ng-container>`

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef="drop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Drop</th>
        <td mat-cell *matCellDef="let row"><button mat-raised-button (click)="drop(row.id)" color="primary">Drop</button></td>
    </ng-container>

</table>
