<form class="example-form">
 <mat-card-content>
    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="msg" placeholder="Leave a comment" name="msg"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Image Url" [(ngModel)]="imgurl" name="imgurl">
    </mat-form-field>
    <button mat-raised-button  (click)="addcomment()" color="primary">Submit</button>
 </mat-card-content> 
</form>
  
<table mat-table [dataSource]="comTable" matSort class="mat-elevation-z8" matSortActive="status" matSortDirection="asc" matSortDisableClear>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Avatar</th>
    <td mat-cell *matCellDef="let r"><img class="mug" src="{{r.avatar}}"></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>

  <ng-container matColumnDef="imgurl">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
    <td mat-cell *matCellDef="let r"><img class="mug" src="{{r.imgurl}}"></td>
  </ng-container>

  <ng-container matColumnDef="msg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
      <td mat-cell *matCellDef="let row">{{row.msg}}</td>
  </ng-container>

  <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.time}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
    <td mat-cell *matCellDef="let row"><button mat-raised-button (click)="delcomment(row.id)" color="primary" [disabled]="row.disabled">Delete</button></td>

</ng-container>
</table>





