<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="stuTable" matSort matSortActive="status" matSortDirection="asc" class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let r">{{r.id}}</td>
  </ng-container>

  <ng-container matColumnDef="stid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Student ID</th>
    <td mat-cell *matCellDef="let r">{{r.stid}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let r">{{r.name}}</td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
    <td mat-cell *matCellDef="let r">{{r.surname}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let r">{{r.email}}</td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Born</th>
    <td mat-cell *matCellDef="let r">{{r.dob}}</td>
  </ng-container>

  <ng-container matColumnDef="img">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
    <td mat-cell *matCellDef="let r"><img src="{{r.imgurl}}" width=80 height=60 (click)="openDialog(r.imgurl)"></td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let r"> {{r.status}} </td>
  </ng-container>

  <ng-container matColumnDef="confirm">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirm</th>
    <td mat-cell *matCellDef="let r"> 
      <button *ngIf="r.status == 'new' || r.status == 'reject'" 
      mat-raised-button (click)="confirm(r.id)" color="primary">Confirm</button></td>
  </ng-container>

  <ng-container matColumnDef="reject">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reject</th>
    <td mat-cell *matCellDef="let r"> 
      <button *ngIf="r.status == 'new' || r.status == 'ok'" 
      mat-raised-button (click)="reject(r.id)" color="primary">Reject</button></td>
  </ng-container>

</table>
