<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title id ='title'>Register</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <!-- <form class="example-form"> -->
    <form style="margin-left: 1em" #registerForm="ngForm" (ngSubmit)="register()" [formGroup]="regForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name"  name="name" required formControlName="name">
              <mat-error *ngFor="let validation of validation_messages.name">
                  <mat-error class="error-message" *ngIf="regForm.get('name').hasError(validation.type) &&
                  (regForm.get('name').dirty || regForm.get('name').touched)"> {{validation.message}}
                  </mat-error>
                  </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Surname" name="surname" required formControlName="surname">
              <mat-error *ngFor="let validation of validation_messages.surname">
                <mat-error class="error-message" *ngIf="regForm.get('surname').hasError(validation.type) &&
                (regForm.get('surname').dirty || regForm.get('surname').touched)"> {{validation.message}}
                </mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>

         <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Image Link"  name="imgurl" required formControlName="imgurl">
              <mat-error *ngFor="let validation of validation_messages.imgurl">
                <mat-error class="error-message" *ngIf="regForm.get('imgurl').hasError(validation.type) &&
                (regForm.get('imgurl').dirty || regForm.get('imgurl').touched)"> {{validation.message}}
                </mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput  placeholder ="Date of Birth" onfocus="(this.type='date')" type="date" required formControlName="dob">
                <mat-error *ngFor="let validation of validation_messages.dob">
                  <mat-error class="error-message" *ngIf="regForm.get('dob').hasError(validation.type) &&
                  (regForm.get('dob').dirty || regForm.get('dob').touched)"> {{validation.message}}
                  </mat-error>
                  </mat-error>
              </mat-form-field>
            </td>
          </tr>

        <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Student Id" name="stid" required formControlName="stid">
                  <mat-error *ngFor="let validation of validation_messages.stid">
                    <mat-error class="error-message" *ngIf="regForm.get('stid').hasError(validation.type) &&
                    (regForm.get('stid').dirty || regForm.get('stid').touched)"> {{validation.message}}
                    </mat-error>
                    </mat-error>
                </mat-form-field>
              </td>
            </tr>
          <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email"  type="email" name="email" required formControlName="email">
                    <mat-error *ngFor="let validation of validation_messages.email">
                      <mat-error class="error-message" *ngIf="regForm.get('email').hasError(validation.type) &&
                      (regForm.get('email').dirty || regForm.get('email').touched)"> {{validation.message}}
                    </mat-error>
                  </mat-error>
                  </mat-form-field>
                </td>
          </tr>

          <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password"  type="password" name="password" required formControlName="password">
                  <mat-error *ngIf="regForm.hasError('required', 'password')">
                    Please enter your password 
                  </mat-error>
                </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput  placeholder="Confirm password"  type="password" name="confirmPassword"  required formControlName="confirmPassword" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="regForm.hasError('notSame')">
                    Passwords do not match
                  </mat-error>   
                </mat-form-field>
              </td>
          </tr>

      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions class="button">
    <button mat-raised-button [disabled]="!registerForm.form.valid" (click)="register()" color="primary">Register Now</button>
  </mat-card-actions>
</mat-card>
